# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class # For Jython

# Virtual environment
.venv/

# Editor-specific files
.vscode/        # VS Code
.idea/
**/*.iml

# Logs and databases
*.log
*.sqlite3       # For SQLite databases, if applicable
*.db

# Temporary files
*.tmp
*.bak
*.swp           # Vim swap files

# Environment variables and secrets
.env            # Common for environment variables
.envrc          # direnv
.flaskenv       # Flask specific environment file

# Test and coverage reports
.pytest_cache/
htmlcov/
.coverage
.tox/           # tox directory
.mypy_cache/    # MyPy type checker cache
.ruff_cache/    # Ruff linter cache